<%- include('header') -%>

<!-- navbar -->
<%- include('navbar') -%>

    <!-- main image & intro text -->
     <section class="bg-light" id="home">
        <div class="container-lg mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-8 text-center text-sm-start">
                    <h1>
                        <h1 class="display-3">Envelope Budgeting</h1>
                        <h1 class="display-6 ps-1 text-muted">Your Money, Saved Smart</h1>
                    </h1>
                    <p class="lead my-2  ps-2 text-muted">Discover the ways Envelope Budgeting can change your life...</p>
                    <%- include('offcanvas') -%>
                </div>
                <div class="col-sm-4 text-center d-none d-sm-block">
                    <img class="img-fluid mb-5" src="/assets/euro2.png" alt="Ebook Cover">
                </div>
            </div>
        </div>
    </section>

<%- include('testing') -%>

<%- include('footer') -%>